* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
@font-face {
    font-family: pop;
    src: url(./Poppins-Light.ttf);
}
@font-face {
    font-family: tommy;
    src: url(./MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}

@font-face {
    font-family: old;
    src: url(./PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: lessold;
    src: url(./Cormorant-VariableFont_wght.ttf);
}
body {
    font-family: tommy;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 15px 25px;
    position: fixed;
    width: 97%;
    z-index: 1000;
}
.white-bg {
    background-color: white;
}
.navbar.dark {
    color: #333;
    text-shadow: none;
}

.logo img {
    height: 70px;
}

.links {
    display: flex;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

#homer {
    font-weight: 600;
    color:#90bbe6;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    height: 30px;
    width: 30px;
}

.background {
    background-image: url('./girl_silhouette_sunflower_182258_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.content {
    margin-top: 10rem;
    text-align: center;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: relative;
    z-index: 100;
}

.content h1 {
    font-size: 5em;
    margin: 0;
    font-family: old;
    color: #90bbe6;
}

.content p {
    font-size: 1.4em;
    margin-bottom: 20px;
    line-height: 1.2;
    width: 600px;
    color: #ffffff;
}

.content button {
    background-color: #0000009c;
    border-radius: 0.5rem;
    color: #0d4882;
    padding: 15px 50px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    align-self: center;
}

.next-section {
    padding: 100px 50px;
    background-color: #d8d8d848;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
h1{
    font-size: 4em;
    font-family: old;
    font-weight: 400;
    width: 75%;
    color:#0d4882;
}
p{
    margin-top: 1rem;
    width: 75%;
    line-height: 1.4;
    color: #555;
    font-weight: 400;
}
button{
    padding: 20px 60px;
    border: none;
    background-color: #0d4882;
    color: white;
    margin: 2rem;
    font-family: tommy;
}
.after{
}
.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust as needed */
}

.top-row{
    display: flex;
    align-items: flex-end;
}
.bottom-row {
    display: flex;
}

.box {
    width: 30rem;
    padding: 20px;
    /* Adjust as needed */
    height: 15rem;
    /* Adjust as needed */
    background-color: #ccc;
    /* Adjust as needed */
    margin: 10px;
    /* Adjust as needed */
}
.box h1{
    font-size: 2em;
    font-family: old;
    font-weight: 400;
    color: #ffffff;
}
.box p{
    color: #f2f2f2;
    font-weight: lighter;
    font-size: .8em;
    font-family: pop;
}
.box h3{
    color: #f2f2f2;
    font-weight: lighter;
    font-size: .9em;
    text-decoration: underline;
    margin-top: 1rem;
}
.youth{
    background-color: #5e98d2;
}
.history{
    background-color: rgba(255, 166, 0, 0.879);
}
.development{
    background-color: rgba(198, 52, 30, 0.904);
}
.graph{
    background-image: url(./Step\ Up\ for\ Youth\ Vision\ 1.png);
    background-position: center;
    background-size: cover;
    width: 30rem;
    height: 30rem;
}